<div class="border border-muted">
    <div class="d-flex flex-column">
        <p class="h4 text-muted font-weight-bold m-2">Mes Informations Personnelles</p>
        <a class="text-decoration-none text-secondary m-2 mx-4" href="{{ path('infos') }}">Infos</a>
    </div>
    <div class="d-flex flex-column">
        <p class="h4 text-muted font-weight-bold m-2">Mes Commandes</p>
        <a class="text-decoration-none text-secondary m-2 mx-4" href="{{ path('shop') }}">Mes Commandes</a>
        <a class="text-decoration-none text-secondary m-2 mx-4" href="{{ path('addresses') }}">Mes Adresses</a>
    </div>
    <div class="d-flex flex-column">
        <p class="h4 text-muted font-weight-bold m-2">Mes Paiements</p>
        <a class="text-decoration-none text-secondary m-2 mx-4" href="{{ path('transaction') }}">Mes Factures</a>
        <a class="text-decoration-none text-secondary m-2 mx-4" href="{{ path('payments') }}">Mes Paiements</a>
    </div>
</div>